@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{margin: 0px;
  padding: 0px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}  
.nav{
  /* width: ; */
  background-color: white;
}
.container{  
  color: #21006E;
  font-family: "Rubik", Sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.heading{
    text-align: center;
    color: #C29C00;
    font-family: "Rubik", Sans-serif;
    font-size: 17px;
    font-weight: 700;
}

div.bg{
  background-image: url("study_cover.jpg");
  background-attachment: fixed;
  background-color: #4e44a8cc;
  background-blend-mode: overlay;
  height: 80vh;
  opacity: 0.8;
  overflow: hidden;
  background-size: cover;
}
.bg-content{
  color: #ffffff;
  font-family: 'Coiny', cursive;
  font-size: 34px;
  line-height: 1.7em;
  letter-spacing: 0.6px; 
  text-align: center; 
}
.bg-content-p{
  font-size: large;
  text-align: center;
  line-height: 4.9em;
  color: #FFFFFF;
  font-family: "Rubik", Sans-serif;
}
.bg-position{
  position: relative;
  top: 33%;
  left: 18%;
}
.blue-button{
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #22b3a4;
  border-style: solid;
  border-color: #22b3a4;
  border-radius: 50px 50px 50px 50px;
  padding: 15px 50px 15px 50px;
  text-decoration: none;
  color: white;
}
.blue-button:hover{
  background-color: transparent;
  border-color: white;
}

h3{
  margin-bottom: 35px
}
.elementHeading{
  font-family: "Aldrich", Sans-serif;
  font-size: 43px;
  line-height: 0.5em;
  letter-spacing: -0.8px;
  color: #474547;

}
.para{
  color: #770567;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.2em;
  padding: 20px;
}
.yellow-button{
  background-color: #FFA600;
  font-size: 15px;
  height: 36px;
  width: 102px;
  border-radius: 22px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
  font-weight: 600;
  font-family: "Rubik", Sans-serif;
  margin-bottom: 20px;
}
.size{
  padding: 10px;
  width: 550px;
  height: 309px;
}
.padding{
  padding: 115px;
}
.icon-margin{
  margin-right: 69px;
}
.icon{
  background-color: #504992;
  color: white;
  display: inline-block;
  font-size: 23px;
  padding: 20px;
  top: -53px;
  position: relative;
}
.services{
  margin-top: 40px;
}
.divColor{
  background-color: #f5f5f5;
  width: 28%;
  padding: 60px;
}
.height{
  height: 400px;
}
.margin{
  margin: 60px;
}
.elementor-heading-title{
  color: #474545;
  font-family: "Aldrich", Sans-serif;
  font-size: 54px;
  letter-spacing: -1px;
  text-align: center;
}
#elementor-element>h2{
  color: #474547;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 2em;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  width: 527px;
}
#elementor-element{
  display: flex;
  justify-content: center;
  margin: 45px;
}
#studyCover{
  background-image: url("study-footer.jpg");
  height: 685px;;
}
.contactUs{
  color: #ffffff;
  font-family: "Playfair Display", Sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}
.footerElement{
  font-size: 30px;
  color: white;
  padding: 40px 30px 40px 30px;
  background-color: rgba(255,255,255,0.25);
  margin: 44px;
  justify-content: flex-start;
}
b{
  font-size: 13px;
  font-family: "Poppins", Sans-serif;
}
.clock{
  margin-bottom: auto;
  margin-right: 20px;
}
.map{
  margin-right: 15px;
}
.fa-clock , .fa-map-marker-alt {
  color: #504992;
  font-size: 50px
}
#content{
  flex: 1;
}
iframe{
  height: 440px;
  width: 571px;
}
footer{
  background-color: #eeeeee;
  height: 50px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-weight: 100;
  text-align: center;
}

@media only screen and (max-device-width: 1040px){
    .nav{
      width: max-content;
    }
    .container{font-size: 24px;}
    .bg{height: 50vh;;
      background-size: contain;;
      background-repeat: no-repeat;
      }
    .bg-content{
      font-size: 22px;
    }  
    .bg-content-p{
      font-size: small;
    }
    .elementHeading{
      font-size: 37px;
    }
    .column-resp , .services{
      flex-direction: column;
    }
    .rev-column-resp{
      flex-direction: column-reverse;
    }
    .divColor{
      width: 66%;
    }
    .size{
      width: 100%;
    }
    .footerElement{
      font-size: small;
      padding: 5px;
      margin: 0px;
    }
    .fa-clock , .fa-map-marker-alt{
      font-size: 27px;
    }
    iframe{
      width: auto;
      height: 35vh;
    }
    #studyCover{
      height: 75vh;
    }
}

@media only screen and (max-device-width: 699px){
  .nav{height: 19vh;}
  #logo{width: 28vh;
    height: 18vh;}
  #id{height: 19vh;
    width: 30vh;}
  .bg{background-position: center;}  
  .bg-content{font-size: 19px;} 
  .bg-content-p{font-size: x-small;}
  div.bg{height: 64vh;}
  .elementHeading{font-size: 36px;}
}

@media only screen and (max-device-width: 627px) {
  .container{font-size: 21px;}
  .elementHeading{font-size: 35px;}
}

@media only screen and (max-device-width: 619px) {
  .elementHeading{font-size: 34px;}
  .icon-margin{margin-right: 10px;}
  .icon{top: -77px;}
}

@media only screen and (max-device-width: 580px) {
  .nav{height: 15vh;}
  #logo{width: 18vh;
    height: 12vh;}
  .container{font-size: 18px;}
  .heading{font-size: 14px;}
  .heading>h3{margin-bottom: 0;}
  div.bg{height: 46vh;}
  .bg-content{font-size: 14px;}
  .blue-button{font-size: 10px;
    padding: 10px 30px 10px 30px;}
}

@media only screen and (max-device-width: 552px) {
  .elementHeading{font-size: 32px;}
  .icon{top: -110px;
    padding: 10px;}
  .padding{padding: 75px;}  
}

@media only screen and (max-device-width: 508px) {
  .elementHeading{margin-bottom: 0;}
  .teacher-margin-resp {margin-top: 38px;}
}

@media only screen and (max-device-width: 456px) {
  .nav {height: 11vh;}
  .container {font-size: 15px;}
  div.bg{height: 38vh;}
  .bg-content {font-size: 12px;}
  .blue-button{padding: 5px 10px 5px 10px;}
  .teacher-margin-resp{margin-top: 38px;}
}

@media only screen and (max-device-width: 438px) {
  .padding{padding: 48px;}
  .para{font-size: 10px;}
  .divColor{padding: 25px;}
  .yellow-button{font-size: 10px;
    height: 25px;
    width: 70px;}
  .height{height: 42vh;}
  .elementor-heading-title{font-size: 25px;}
  #elementor-element>h2{font-size: 10px;}
  #elementor-element{margin: 20px;}
  .contactUs{padding: 12px;
  font-size: 29px;}
  .footerElement{margin: 0px 15px;}
  .teacher-margin-resp{margin-top: 38px;}
  .icon{top: -66px;}
  .bg-content-p {font-size: 6px;}
  
}

@media only screen and (max-device-width: 400px) {
  .heading {font-size: 9px;}
  .container{font-size: 13px;}
  .elementHeading {
    font-size: 25px;}
  .bg-content {font-size: 11px;} 
  .para {font-size: 5px;} 
  .icon {padding: 5px;
    top: -51px;}
}

@media only screen and (max-device-width: 368px) {
  div.bg{background-size: contain;
    background-attachment: local;
    height: 31vh;
    background-position-y: 0%;
    background-position-x: 0%;}
  .bg-content {font-size: 7px;}
  .blue-button{font-size: 5px;}
  .size{height: 30vh;
    width: 34vh;}
  .para{font-size: 6px;}
  .elementHeading {font-size: 24px;}  
  .icon>i{font-size: 14px;}
  .icon{    padding-top: 0px;}
  div.bg{width: 55vh;}
  #studyCover{width: 55vh;}
  footer{width: 55vh;}
}

@media only screen and (min-device-width: 1040px) and (max-device-width: 1365px){
  div.bg{width: 200vh;}
  #studyCover{width: 200vh;
    background-size: cover;}
  footer{width: 200vh;}
}
@media only screen and (min-device-width: 1040px) and (max-device-width: 1104px){
  .container{font-size: 41px;}
}

@media only screen and (min-device-width: 1322px) and (max-device-width: 1365px){
  #studyCover{width: 205vh;}
  footer{width: 204vh;}
}

@media only screen and (max-device-width: 333px){
  .leftmarg{margin-left: 30px;}
  .elementHeading {font-size: 18px;}
}